@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  code::before {
    content: "" !important;
  }
  code::after {
    content: "" !important;
  }
  code {
    @apply bg-slate-200 p-1 rounded-sm;
  }
  code {
    @apply text-orange !important;
  }
  ul li {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
  }
  ol li p {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}
